@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
* {
  box-sizing: border-box;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.display-flex{
  display: flex;
}
.gray{
  color: #8987A1;
}
.black{
  color: black;
  font-weight: 700;
}
.orange{
  color: #E95A08;
}
.bg-light{
  background-color:#F5F8FF;
}
.banner-description, .plant-description, .plant-lover-description {
    font-size: 1.3rem;
}
/* navbar related styles */
.navbar{
 justify-content: space-between;
 align-items: center;
 max-width: 1440px;
 margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
}
#shopping-cart{
 display: flex;
 align-items: center;
 gap: 5px;
 color: black;
}
 /* banner styles */ 
 .banner-content{
    max-width: 550px;
 }
.banner{
    align-items: end;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
     margin: 0px;
}
/* plant section styles */
.plant-title, .Deals-title, .plant-lover-title{
    font-size:3.1rem;
    font-weight: 700;
    margin: 0;
}
.plant-description{
   margin-bottom: 30px;
}
.plant-content, .Deals-content{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card{ 
    text-align: center;
}
.card img{
width: 100%;
}
.cart-price{
    font-size: 1.3rem;
    font-weight:800;
    margin-top: 0px;
    margin-bottom: 30px;
}
.card-name{
    font-weight: 550;
     font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 10px;
} 
.btn-primary{
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 50px;
    width: 100%;
}
/* plant lover related styles */
.plant-lovers{
  gap: 150px;
}
.plant-lover-title{
    margin-top: 10px;
}

.plant-lover-description li{
    margin-top: 50px;
    line-height: 30px; 
}
.images{
    position: relative; 
    max-width: 540px;
}
.badge{
    width: 280px;
    position: absolute;
}


/* latest Deals section styles */

.Latest-Deals{
    margin-bottom: 100px;
}
.Deals-description{
    margin-bottom: 30px;
}
.left{
   display: grid;
   grid-template-columns: repeat(1,1fr);
   border: 2px solid green;
   width: 500px;
 
}
.left-card{
 background-repeat: no-repeat;
 width: 370px;
 height: 200px;
 border-radius: 18px;
}
.right-card{
background-repeat: no-repeat;
 width: 750px;
 height: 420px;
  border-radius: 18px;

}
.text-title{
   font-size:1.25rem;
    color: white;
   font-weight: 700;
   margin: 0;
}
a{
    color: white;
    font-size: 1rem;
}
.text{
    margin-top: 90px;
    text-align: center;
    
}
.text-z {
    margin-top: 150px;
    text-align: center;
}
.zabo{
color: white;
font-size: 2.3rem;
margin: 0;
}
.zebo-a{
    font-size: 1.7rem;
}
.image-container{
    border: 2px solid tomato;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* join section styles */
    .join-section {
      background-image: url('assets/news-letter-bg.png');
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 533px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }


.join-title{
    color: white;
    font-size: 3.1rem;
    font-weight: 700;
}
.join-content{
    max-width: 800px;
    width: 100%;

}
.join-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.join-form input[type="email"] {
    padding: 12px 15px;
    font-size: 1rem;
    border: none;
    width: 60%;
    min-width: 200px;
     outline: none;
}
  .join-form button {
      padding: 12px 20px;
      background-color: #E95A08;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      cursor: pointer;
      
    }
    /* footer sections */
    
    .footer{
        background-color: rgb(255, 255, 255);
          padding: 60px 40px;
    }
.footer-container{
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    gap: 50px;
}
.f-logo{
    width:135px ;
}
.f-description{
font-size: 1.3rem;
line-height: 1.2;
}
.footer-left{
    max-width:300px;
}
.footer-link{
    gap: 80px;
    }
.footer-link ul{
list-style: none;

}  
.footer-link ul li{
    margin-bottom: 20px;
    font-size: 1rem;

}
.footer-icons{
    display: flex;
    gap: 20px;
    align-items: start;
}