@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
  display: flex;
}
.gray{
  color: #8987A1;
}
.black{
  color: black;
  font-weight: 700;
}
.orange{
  color: #E95A08;
}
.bg-light{
  background-color:#F5F8FF;
}

.navbar{
 justify-content: space-between;
 align-items: center;
 max-width: 1440px;
 margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
}
#shopping-cart{
 display: flex;
 align-items: center;
 gap: 5px;
 color: black;
}
 /* banner styles */ 
 .banner-content{
    max-width: 550px;
 }
.banner{
    align-items: end;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
     margin: 0px;
}
.banner-description, .plant-description {
    font-size: 1.3rem;
}


/* plant section styles */
.plant-title{
    font-size:3.1rem;
    font-weight: 700;
    margin: 0;
}
.plant-description{
   margin-bottom: 30px;
}
.plant-content{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.card{ 
    text-align: center;
}
.card img{
width: 100%;
}
.cart-price{
    font-size: 1.3rem;
    font-weight:800;
    margin-top: 0px;
    margin-bottom: 30px;
}
.card-name{
    font-weight: 550;
     font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 10px;
} 
.btn-primary{
    color: white;
    background-color: #E95A08;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 50px;
    width: 100%;
}


/* responsive media query */
@media screen and (max-width:576px) {
    
}